{% extends 'core/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<h1 class="text-3xl text-center">App Name: dWeeMart
</h1>
<br>

Customer Support Contact:
<br><br>
Email: support@dWeeMartapp.com
<br><br>
Phone: +1 (800) 123-4567
<br><br>
Mailing Address:<br>
dWeeMart, Inc.<br>
123 Main Street<br>
Cityville, CA 12345<br>
United States
<br><br>
Social Media:
<br><br>
Facebook: facebook.com/dWeeMartapp<br>
Twitter: @dWeeMart_app<br>
Instagram: @dWeeMart_official<br>
<br>
Again, please note that this contact information is entirely fictional and should not be used for any real-world communication. If you have a specific app or company you need to contact, I recommend visiting their official website or app store listing for accurate and up-to-date contact information.<br>
{% endblock %}